body {
    color: #00adee;
    background: #1e1e1e;
    padding: 1em;
}

img {
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

label {
    font-size: 1.5rem;
    line-height: 4rem;
}

#app {
    font-family: Quicksand, sans-serif;
}

.app-titlebar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100vw;
    -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.75);
    z-index: 1;
}

.app-content {
    position: fixed;
    top: 4rem;
    left: 0;
    height: calc(100vh - 4rem);
    width: 100vw;
    background: #eee;
    color: #333;
    padding: 1rem;
}